.Root {
  height: 80px;
  width: 100%;
  background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */






  position: relative;
}

.title {
  display: inline-block;
  height: 90%;
  width: 15%;
  text-align: center;
  background: orangered;
  color: white;
  font-size: 4em;
  margin: 0 5% 50px;
  transform: translateY(5%);
}
.title {
  display: inline-block;
	min-width:100px;
	padding: 22px 33px;
	font-size: 26px;
	line-height: 26px;
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 1px 2px rgba(0,0,0,0.75);
	background: #5e0d0c;
	outline: none;
	border-radius: 15px;
	border: 1px solid #4c0300;
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #a23227, /* inner glow */
		inset 0 80px 80px -40px #ac3223, /* gradient */
		1px 1px 3px rgba(0,0,0,0.75); /* shadow */
		
	position: relative;
	overflow: visible; /* IE9 & 10 */
}


.Root .controls {
  display: inline-block;
  background: white;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.Root button {
  font-size: 2em;
  color: #777;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
}
