.AddFactoryForm {
  text-align: center;
  position: relative;
}

.AddFactoryForm h1 {
  font-size: 36px;
}
input, select {
  margin: 15px 25px 10px 0;
}

label {
  margin-right: 5px;
}

fieldset {
  display: flex;
  margin: 25px 0;
}

.input-block {
  width: 50%;
}
input[type="number"] {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

.valid-bounds {
  box-shadow: 0 0 2px rgba(66, 244, 75, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(66, 244, 75, 1); 
}

.invalid-bounds {
  box-shadow: 0 0 2px rgba(244, 66, 66, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(244, 66, 66, 1); 
}

.bounds-error {
  display: none;
  color: red;
  font-size: 14px;
  text-shadow: 0 0 1px rgb(163, 93, 93);
  position: relative;
  top: -10px;
}

.show-error {
  display: block;
}