.AddFactoryForm {
 
}
input {
  margin: 15px 25px 10px 0;
}
input[type="number"] {
  display: block;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

.valid-bounds {
  box-shadow: 0 0 2px rgba(66, 244, 75, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(66, 244, 75, 1); 
}

.invalid-bounds {
  box-shadow: 0 0 2px rgba(244, 66, 66, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(244, 66, 66, 1); 
}